@import "tailwindcss";

@theme {
  --color-primary: #5237f9;
  --color-primary-alt: #8680ff;
  --color-secondary: #6369ff;
  --color-accent: #f604b9;
  --color-accent-yellow: #e3f800;

  --color-surface: #1b1b1c;
  --color-surface-alt: #232324;
  --color-bg: #121326;
  --color-bg-alt: #171930;
  --color-bg-darker: #16172e;

  --color-heading: #ffffff;
  --color-body: #a1a9ac;
  --color-border: #21262d4f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-body);
}
